<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, minimal-ui">
    <title th:text="${pageTitle}"></title>
    <link href="https://unpkg.com/element-ui/lib/theme-chalk/index.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/vue/2.6.11/vue.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.8.3/Sortable.min.js"></script>
</head>
<body>
<div id="index">
    <el-backtop :bottom='80' :right='50' target='.topNav' visibility-height='80'>
        <el-button type="danger">TOP</el-button>
    </el-backtop>
    <el-container>
        <el-header style="margin-top: 2em">
            <el-switch
                    @change='changeStatus'
                    active-color="#13ce66"
                    active-text="结束"
                    inactive-color="#ff4949"
                    inactive-text="开始"
                    style="display: block;width: 10em;margin-top: 6px;margin-left: 1em;float: left"
                    v-model="isStart">
            </el-switch>
            <el-dropdown @command="batchOperate" style="float: left" trigger="click">
                <el-button type="primary">下载</el-button>
                <el-dropdown-menu slot="dropdown">
                    <el-dropdown-item command="exportFile">下载所有</el-dropdown-item>
                    <el-dropdown-item command="exportFileApi">下载flowApi</el-dropdown-item>
                </el-dropdown-menu>
            </el-dropdown>

            <el-button @click="dialogVisible = true" style="margin-left: 2em;float: left" type="primary">上传API
            </el-button>
            <el-button @click="startFlow" style="margin-left: 2em;float: left" type="primary">重新录制
            </el-button>
            <el-button @click="order" style="margin-left: 2em;float: left" type="primary">1.选中api为测试流程
            </el-button>
            <el-button @click="execute" style="margin-left: 2em;float: left" type="danger">2.执行
            </el-button>

            <el-input placeholder="请输入请求地址" style="width: 40em;margin-left: 2em;float: left" v-model="requestPath">
                <template slot="prepend">Http://</template>
            </el-input>
        </el-header>
        <el-main class="topNav">
            <template>
                <el-button @click="clearFilter" plain type="primary">清除表头过滤器</el-button>
                <el-button @click="delAll" plain type="primary">清空</el-button>
                <el-button @click="refreshTbl" plain type="primary">刷新</el-button>
                <el-table :data="tableData" :row-class-name="tableRowClassName"
                          @selection-change="tableSelected"
                          ref="filterTable" row-key="id"
                          style="width: 100%">
                    <el-table-column
                            type="selection"
                            width="50">
                    </el-table-column>
                    <el-table-column label="NO" width="60">
                        <template slot-scope="scope">
                            {{scope.$index + 1}}
                        </template>
                    </el-table-column>
                    <!--                   <el-table-column prop="id" label="ID" sortable width="60" :show-overflow-tooltip='true'-->
                    <!--                                     column-key="id"></el-table-column>-->
                    <el-table-column :show-overflow-tooltip='true' column-key="url" label="URL" prop="url" sortable
                                     width="100"></el-table-column>
                    <el-table-column :show-overflow-tooltip='true' column-key="uri" label="URI" prop="uri" sortable
                                     width="200"></el-table-column>
                    <el-table-column :filter-method="filterMethod" :filters="[{ text: 'GET', value: 'GET' },
                                     { text: 'POST', value: 'POST' },
                                     { text: 'PUT', value: 'PUT' },
                                     { text: 'DELETE', value: 'DELETE' }]" column-key="method" label="方法" prop="method"
                                     sortable
                                     width="100">
                    </el-table-column>
                    <el-table-column column-key="reqContentType" label="请求类型" prop="reqContentType" sortable
                                     width="120"></el-table-column>
                    <el-table-column :formatter="formatterJson" :show-overflow-tooltip='true' column-key="headerMap"
                                     label="请求头"
                                     prop="headerMap"
                                     sortable
                                     width="120">
                    </el-table-column>
                    <el-table-column :formatter="formatterJson" :show-overflow-tooltip='true' column-key="paramMap"
                                     label="表单参数"
                                     prop="paramMap"
                                     sortable
                                     width="140"></el-table-column>
                    <el-table-column :formatter="formatterJson" :show-overflow-tooltip='true' column-key="queryParam"
                                     label="请求参数"
                                     prop="queryParam"
                                     sortable
                                     width="140"></el-table-column>
                    <el-table-column :formatter="formatterJson" :show-overflow-tooltip='true' column-key="requestBody"
                                     label="请求Body"
                                     prop="requestBody"
                                     sortable
                                     width="180"></el-table-column>
                    <el-table-column :filter-method="filterHttpStatus" :filters="[{ text: '200', value: '200' },
                                     { text: '201', value: '201' },
                                     { text: '500', value: '500' }]" column-key="httpStatus"
                                     filter-placement="bottom-end" label="响应码"
                                     prop="httpStatus"
                                     sortable
                                     width="100">
                        <template slot-scope="scope">
                            <el-tag :type="scope.row.httpStatus < 500 ? 'primary' : 'success'" disable-transitions>
                                {{scope.row.httpStatus}}
                            </el-tag>
                        </template>
                    </el-table-column>
                    <el-table-column :formatter="formatterJson" :show-overflow-tooltip='true' column-key="responseBody"
                                     label="响应Body"
                                     prop="responseBody"
                                     sortable
                                     width="250"></el-table-column>
                    <el-table-column column-key="respContentType" label="响应类型" prop="respContentType" sortable
                                     width="150"></el-table-column>
                </el-table>
            </template>
        </el-main>
    </el-container>
    <el-dialog :visible.sync="dialogVisible" title="上传" width="400px">
        <div style="text-align: center;vertical-align: middle">
            <el-upload :auto-upload='true' :before-upload="beforeUpload" :drag='true' :http-request="uploadFile"
                       :limit="1"
                       :multiple='false' :on-exceed="handleExceed" :show-file-list='true' action=''
                       class='image-uploader'
                       list-type='text'>
                <i class="el-icon-upload"></i>
                <div class="el-upload__text">将文件拖到此处，或<em>点击上传</em></div>
                <div class="el-upload__tip" slot="tip">一次只能上传一个文件，仅限Excel格式，单文件不超过10MB</div>
            </el-upload>
        </div>
        <span class="dialog-footer" slot="footer">
            <el-button @click="dialogVisible = false">取 消</el-button>
            <el-button @click="dialogVisible = false" type="primary">确 定</el-button>
        </span>
    </el-dialog>
</div>
<script th:inline="javascript">
    let csrf = /*[[${_csrf}]]*/ null;
    let properties = /*[[${properties}]]*/ {};
    window.addEventListener('load', function (event) {
        GraphQLPlayground.init(document.getElementById('index'), properties)
    });
    const api = axios.create({
        responseType: 'json',
        withCredentials: true,
    });
    const indexVue = new Vue({
        el: '#index',
        data: {
            isOrder: false,
            selectedIds: [],
            dialogVisible: false,
            requestPath: '',
            isStart: window.localStorage.getItem("startFlag") == null ? false : true,
            tableData: [],
            multipleSelection: []
        },
        created: function () {
            setTimeout(function () {
                indexVue.refreshTbl();
            }, 5000);
        },
        computed: function () {
        },
        methods: {
            initTbl: function () {
                api.get('/flowzhang/list')
                    .then(function (response) {
                        if (response.status == 200 && response.data.code == '200') {
                            indexVue.tableData = response.data.data;
                        }
                    })
            },
            startFlow: function () {
                this.isOrder = false;
                api.get('/flowing/start')
                    .then(function (response) {
                        if (response.status == 200 && response.data.code == '200') {
                            indexVue.refreshTbl();
                        }
                    })
            },
            start: function () {
                api.get('/flowing/start')
                    .then(function (response) {
                        if (response.status == 200 && response.data.code == '200') {
                            indexVue.$notify.success({
                                title: '成功',
                                message: '开始成功'
                            });
                        }
                    })
            },
            end: function () {
                api.get('/flowing/end')
                    .then(function (response) {
                        if (response.status == 200 && response.data.code == '200') {
                            indexVue.$notify.success({
                                title: '成功',
                                message: '结束成功'
                            });
                        }
                    })
            },
            order: function () {
                this.isOrder = true;
                let ids = this.selectedIds;
                if (ids.length == 0) {
                    this.$message.error('请选择执行的API');
                    return;
                }
                api.post('/flowing/order', ids)
                    .then(function (response) {
                        if (response.status == 200 && response.data.code == '200') {
                            indexVue.tableData = response.data.data;
                        }
                    })
            },
            batchOperate: function (command) {
                switch (command) {
                    case "exportFile":
                        this.exportFile();
                        break;
                    case "exportFileApi":
                        this.exportFileApi();
                        break;
                }
            },
            exportFile: function () {
                window.location.href = '/flowing/export/1';
            },
            exportFileApi: function () {
                window.location.href = '/flowing/export/0';
            },
            execute: function () {
                debugger
                let ids = [];
                for (let item of this.tableData) {
                    ids.push(item.id);
                }
                if (ids.length == 0) {
                    this.$message.error('执行的API列表为空');
                    return;
                }
                let paramVO = {'path': this.requestPath, 'ids': ids}
                api.post('/flowing/execute', paramVO)
                    .then(function (response) {
                        if (response.status == 200 && response.data.code == '200') {
                            indexVue.tableData = response.data.data;
                        }
                    })
            },
            beforeUpload: function (file) {
                let hz = file.name.split(".")[1]
                if (hz != 'xlsx' && hz != 'xls') {
                    return false;
                }
            },
            handleExceed: function (files, fileList) {
                indexVue.$notify({
                    title: '警告',
                    message: '当前限制选择1个文件，请删除后继续上传',
                    type: 'warning'
                });
            },
            uploadFile: function (item) {
                let fileObj = item.file
                const form = new FormData()
                form.append('file', fileObj)
                api.post('/flowing/import', form, {
                    headers: {'Content-Type': 'multipart/form-data'}
                }).then(function (response) {
                    if (response.status == 200 && response.data.code == '200') {
                        indexVue.$notify({
                            title: '成功',
                            message: '这是一条成功的提示消息',
                            type: 'success'
                        });
                    }
                })
            },
            clearFilter: function () {
                indexVue.$refs.filterTable.clearFilter();
            },
            formatterJson: function (row, col) {
                let name = col.property;
                if (name == 'headerMap') {
                    return row.headerMap == undefined || row.headerMap == {} ? '' : JSON.stringify(row.headerMap, undefined, 5)
                } else if (name == 'paramMap') {
                    return row.paramMap == undefined || row.paramMap == {} ? '' : JSON.stringify(row.paramMap, undefined, 5)
                } else if (name == 'queryParam') {
                    return row.queryParam == undefined || row.queryParam == {} ? '' : JSON.stringify(row.queryParam, undefined, 5)
                } else if (name == 'requestBody') {
                    return row.requestBody == undefined || row.requestBody == '' ? '' : row.requestBody
                } else if (name == 'responseBody') {
                    return row.responseBody == undefined || row.responseBody == '' ? '' : row.responseBody
                }
            },
            filterMethod: function (value, row, column) {
                const property = column['property'];
                return row[property] === value;
            },
            filterHttpStatus: function (value, row, column) {
                const property = column['property'];
                return row[property] === value;
            },
            tableSelected: function (val) {
                let list = [];
                for (let item of val) {
                    list.push(item.id)
                }
                this.selectedIds = list;
            },
            tableRowClassName: function ({row, rowIndex}) {
                if (row.httpStatus == 500) {
                    return 'warning-row';
                }
            },
            refreshTbl: function () {
                if (this.isOrder) {
                    this.order()
                } else {
                    this.initTbl()
                }
            },
            changeStatus: function (val) {
                window.localStorage.setItem("startFlag", val);
                if (val) {
                    this.start();
                } else {
                    this.end();
                }
            },
            delAll: function () {
                api.delete('/flowing/delete/' + this.isOrder)
                    .then(function (response) {
                        if (response.status == 200 && response.data.code == '200') {
                            indexVue.$notify.success({
                                title: '成功',
                                message: '清空成功'
                            });
                            indexVue.initTbl();
                        }
                    });
            }
        },
        watch: {}
    })

    const tbody = document.querySelector(".el-table__body-wrapper tbody");
    Sortable.create(tbody, {
        draggable: ".el-table__row",
        onEnd({newIndex, oldIndex}) {
            const currRow = indexVue.tableData.splice(oldIndex, 1)[0];
            indexVue.tableData.splice(newIndex, 0, currRow);
        }
    })

</script>
<style>
    .topNav {
        height: 85vh;
        overflow: hidden;
        overflow-x: hidden;
        overflow-y: scroll;
    }

    .el-tooltip__popper {
        /*max-width: 50%;*/
        /*min-height: 15%;*/
        font-size: 0.85em;
    }

    .el-tooltip__popper, .el-tooltip__popper.is-dark {
        background: #f5f5f5 !important;
        color: #303133 !important;
    }

    .el-table .warning-row {
        background: oldlace;
    }

    .el-table .success-row {
        background: #f0f9eb;
    }
</style>
</body>
</html>
